:root {
    background-color: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-size: 200px;
    color: blueviolet;
    margin-bottom: 16px;
}

h2{
    color: whitesmoke;
    font-size: 50px;
    margin-bottom: 2px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto ;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: x-large;
    padding: 5px;
    width: 179px;
    text-align: center;
    margin-bottom: 5px;
    color: blueviolet;
    background-color: gold;
}

.btn:hover {
    cursor: pointer;
}

#highscore-btn {
    color: gold;
    background-color: blueviolet;
}

#highscore-btn {
    cursor: pointer;
}

#ruleList {
    font-size: x-large;
    color: blueviolet;
}